<div class="main-footer__middle text-sm container mt-4">
    <div class="mx-auto mb-8">
        <div class="text-center color-black font-bold mt-8">
            <%= t("text", scope: "noesfeinadedones.footer") %>
        </div>
        <div class="flex h-8 justify-evenly gap-2 mt-8">
            <%= image_pack_tag("media/images/telecos.png") %>
            <%= image_pack_tag("media/images/logo_i2cat.png") %>
            <%= image_pack_tag("media/images/generalitat.png") %>
        </div>
    </div>
</div>
