.button__secondary {
    background: linear-gradient(to right, #f458d1, #7dd0f1);
    color: black;
    border-left-color: #f458d1;
    border-right-color: #7dd0f1;

    &:hover {
        background: #f458d1 !important;
        border-right-color: #f458d1;
    }
}
